@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/YanoneKaffeesatz/YanoneKaffeesatz-ExtraLight.ttf');
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Light.ttf');
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Regular.ttf');
}

@font-face {
	font-family: 'Yanone Kaffeesatz';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/YanoneKaffeesatz/YanoneKaffeesatz-Bold.ttf');
}
